table {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  font-size: 1.5em;
}

th {
  font-size: 1.8em;
  color: slateblue;
  padding: 10px 20px;
}

td {
  color: hotpink;
}

a {
  text-decoration: none;
  color: hotpink;
}