body {
  margin: 0 auto;
  font-family: 'Fjalla One', sans-serif;
  background-color: var(--body-bg);
  color: var(--light-n-dark-text-clr);
}

.card-body {
  text-align: center;
  background-color: lightpink;
}

.card-title {
  color: slateblue;
  font-size: 2rem;
}

.card-img-top {
  border-radius: 50%;
  background-color: lightpink;
}
