body {
  --profile-bg: white;
  --card--bg: aqua;
  font-family: 'Fjalla One', sans-serif;
  background-color: var(--profile-bg);
  color: var(--light-n-dark-text-clr);
}

body.dark {
  --profile-bg: black;
  --card--bg: grey;
}

main {
  text-align: center;
}

div {
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: slateblue;
}

h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: hotpink;
  font-size: 2rem;
  margin: 0 auto;
}

.profile-avatar {
  display: block;
  margin: 2% auto 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10%;
}

.card {
  margin: 10px auto;
  display: grid;
  color: hotpink;
  border-radius: 10%;
  background-color: var(--card--bg);
  text-align: center;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

p {
  font-size: medium;
  font-family: 'Fjalla One', sans-serif;
}