main {
  text-align: center;
}

h1 {
  font-size: large;
}

.profile-avatar {
  margin: 50px 50px;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0;
}

.card {
  margin: 10px auto;
  display: grid;
  color: turquoise;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

p {
  font-size: medium;
}