body {
  font-family: 'Fjalla One', sans-serif;
}

main {
  text-align: center;
}

div {
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.profile-avatar {
  display: block;
  margin: 2% auto 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10%;
}

h1 {
  margin: 2% 0 0 0;
  color: slateblue;
  font-family: 'Fjalla One', sans-serif;
}

.card {
  margin: 10px auto;
  display: grid;
  color: hotpink;
  border-radius: 10%;
  background-color: aqua;
  text-align: center;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

p {
  font-size: medium;
  font-family: 'Fjalla One', sans-serif;
}