html {
  box-sizing: border-box;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  --body-bg: aqua;
  --light-n-dark-btn-content: "Dark Mode";
  --light-n-dark-btn-bg: white;
  --light-n-dark-text-clr: black;
  --nav-text-color: white;
  --welcome-bg: white;
  background-color: var(--body-bg);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  justify-content: center;
  margin: 0 auto;
}

body.dark {
  --body-bg: black;
  --light-n-dark-btn-content: "Light Mode";
  --light-n-dark-btn-bg: gray;
  --light-n-dark-text-clr: white;
  --nav-text-color: gray;
  --welcome-bg: gray;
}

#lightNDark {
  background-color: var(--light-n-dark-btn-bg);
  color: var(--light-n-dark-text-clr);
}

#lightNDark::after {
  color: var(--light-n-dark-text-clr);
  content: var(--light-n-dark-btn-content);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > nav {
  background-color: hotpink;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  font-weight: bold;
  font-size: 15px;
}

nav > a {
  margin: 15px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: var(--nav-text-color);
}

nav > a:hover {
  color: slateblue;
  }

button {
  background-color: limegreen;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  padding: 5px;
}

.welcome-message {
  background-color: var(--welcome-bg);
  margin-top: 10%;
  margin-bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  max-width: 300px;
  padding: 10%;
  font-size: 1.5rem;
  border-radius: 20px;
}

.text {
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: hotpink;
}

.welcome-img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50%;
}

.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  justify-content: center;
  color: hotpink;
  font-size: 1.5rem;
}
