<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/new.css" /> 
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %> </h1>
  <form action="/queens" method="POST">
    <label>Drag Name:
      <input type="text" name="dragName">
      </select>
    </label><br>
    <label>City:
      <input type="text" name="city">
    </label><br>
    <label>Season:
    <select name="season">
      <option value="season 1">01</option>
      <option value="season 2">02</option>
      <option value="season 3">03</option>
      <option value="season 4">04</option>
      <option value="season 5">05</option>
      <option value="season 6">06</option>
      <option value="season 7">07</option>
      <option value="season 8">08</option>
      <option value="season 9">09</option>
      <option value="season 10">10</option>
      <option value="season 11">11</option>
      <option value="season 12">12</option>
      <option value="season 13">13</option>
      <option value="season 14">14</option>
      </select>
      </select>
    </label><br>
    <label>Episode Eliminated:
        <select name="episodeEliminated">
          <option value="N/A">N/A</option>
          <option value="episode 1">1</option>
          <option value="episode 2">2</option>
          <option value="episode 3">3</option>
          <option value="episode 4">4</option>
          <option value="episode 5">5</option>
          <option value="episode 6">6</option>
          <option value="episode 7">7</option>
          <option value="episode 8">8</option>
          <option value="episode 9">9</option>
          <option value="episode 10">10</option>
          <option value="episode 11">11</option>
          <option value="episode 12">12</option>
          <option value="episode 13">13</option>
          <option value="episode 14">14</option>
        </select>
    </label><br>
    <button type="submit">Add Queen</button>
  </form>
</main>

<%- include('../partials/footer') %> 